body{
    padding: 0 auto;
    margin: 0 auto;
}
#header{
    width: 100%;
    background: linear-gradient(90deg, rgba(43,43,69,1) 0%, rgba(155,36,38,1) 100%);
}
#header .nav-link{
    border: solid 1px transparent;
}
#header .nav-link:hover{
    border-bottom: solid 2px white;
}
#banner #logo{
    height: 125px;
}
#banner{
    padding: 10px 0 10px;
    text-align: center;
}
#about .container-fluid{
    color: #ffffff;
    background-color:rgb(43, 43, 69);
}
